# for vscode
node_modules/*
.eslintrc.js
mcquiz-easy/*
mcquiz-easy-1124/*
mcquiz-legacy-input-button/*
mcquiz-legacy-ul-button/*
mcquiz-module/*
mcquiz-module-jquery/*
mcquiz-mvc-proto/*
mcquiz-ts/*
mcquiz-vue/*

