html
  head
    title= "Multiple choice quiz"
    link(rel="stylesheet", href="app.css")
  body.container
    div.quize-container
        div.question#question
        div.choices#choices
    script(src="app.js")
