
html{
    height: 100%;
}

.container{
    background: linear-gradient(#17a2b8, pink);
}

.loading,.question{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    font-size:30px;
    color:#fff;
    
}

.choices{
    list-style: none;
    padding-left: 0px;
}

.choice{
    height: 40px;
    margin: 5px;

    border: 1px solid #17a2b8;
    color: #17a2b8;
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #2e8391;
    color: #fff;
}

.choice:active{
    background-color: #024e5a;
    color: #fff;
}

.footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 24px;
    font-size: 20px;
    color:white;
}
